/* (3)css design */

#area1{
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(48, 46, 46);
}
.style1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blanchedalmond;
}
h1{
    font-size: 32;
    font-family: "Copperplate", fantasy;
    color: royalblue;
}

body{
    background-color: pink;
}
hr{
    color: blue;
    size: 5;
}

table{
    background-color: azure;
}